:root {
  --pixel-size: 2; }

.hidden {
  display: none; }

body {
  background: #96ffc1; }

.tree {
  width: calc(640px * var(--pixel-size));
  height: calc(64px * var(--pixel-size));
  overflow: hidden;
  position: relative; }

.tree_spritesheet {
  animation: moveSpritesheet 3s steps(5) infinite;
  width: calc(3200px * var(--pixel-size));
  position: absolute; }

.event_spritesheet {
  animation: moveSpritesheet 6s steps(15) infinite;
  width: calc(9600px * var(--pixel-size));
  position: absolute; }

.pixelart {
  image-rendering: pixelated; }

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0); }
  to {
    transform: translate3d(-100%, 0, 0); } }
