<footer id="footer">
  <div>
    <!-- <span>{{ .Site.Params.footnote | safeHTML }}</span> -->
  </div>
  <div>
    <!-- <span>Cheerios !! :D {{ now.Format "2006"}} {{ .Site.Author.name }} -->
    <span> ✧ Godspeed internet person ✧ </span>
  </div>
  <div>
    <span>
    <pre>
      
                           *     .--.
                                / /  `
               +               | |
                      +         \ \__,
                  *          +   '--'  *
                      +   /\
         +              .'  '.   *          *
                *      /======\      +
                      ;:.  _   ;
    *                 |:. (_)  |    *
                      |:.  _   |                + 
            +         |:. (_)  |          *
                      ;:.      ;     
                    .' \:.    / `.
                   / .-'':._.'`-. \
                   |/    /||\    \|         
                 _..--"""````"""--.._
           _.-'``                    ``'-._
         -'                                '-



    </pre>
    </span>
  </div>
</footer>
